* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display:flex;
  justify-content: center;
}
.box {
  border: 1px solid black;
  height: 90px; 
  width: 90px;
  text-align: center;
  font-size: 60px;
  color: black;
}

.black {
  background-color:black;
  color: white;
}